{{ 'header-custom.css' | asset_url | stylesheet_tag }}

<div class="header-flex page-width">
  <div class="logo-list">
    {{ section.settings.logo-header |image_url: width: 150 | image_tag: class: 'logo-img' }}
              <svg class="modal__toggle-open icon icon-search" aria-hidden="true" focusable="false">
          <use href="#icon-search">
        </svg>
  </div>

  <ul class="list-nav">
    <li>
      <a class="link-none" href="#">How It Works</a>
    </li>
    <li>
      <a class="link-none" href="#">Shop Checklists</a>
    </li>
    <li>
      <a class="custom-button_solid" href="{{ section.settings.button_url-hd }}">{{ section.settings.button-hd }}</a>
    </li>
  </ul>
  <button class="hamburger-button">{% render 'icon-hamburger' %}</button>
  
  <ul class="main-menu-hd">
    {% for links in section.settings.menu_links.links %}
      <li class="menu-list-hd">
       {{ links.title | link_to: links.url }}
      </li>
    {% endfor %}
  </ul>
  
</div>

<script>
  documeny.querySelector('.hamburger-button').addEventListner('click', ({
    document.querySelector('.logo-list').classList.toggle('active');
});

  documeny.querySelector('.hamburger-button').addEventListner('click', ({
    document.querySelector('.logo-list').classList.remove('active');
});
</script>

{% schema %}
{
  "name": "Header Custom",
  "tag": "header",
  "class": "header-cust",
  "settings": [
    {
      "type": "image_picker",
      "label": "Logo",
      "id": "logo-header"
    },
    {
      "type": "link_list",
      "label": "Menu Links",
      "id": "menu_links"
    },
    {
      "type": "text",
      "label": "Button",
      "id": "button-hd",
      "default": "Sign Up"
    },
    {
      "type": "url",
      "label": "Button url",
      "id": "button_url-hd"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Header Custom"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}