{{ 'section-value-prop.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<section class="section-{{ section.id }}-padding value-{{ section.id }}">

  <div class="value-heading">
    {% if section.settings.heading-vp %}
      {{ section.settings.heading-vp }}
    {% endif %}
  </div>

  <div class="value-content page-width">
    {% for block in section.blocks %}
      <ul class="main-list-vp">
        <li>
          <!-- {% if block.settings.desktop_image-vp %} -->
            {% if block.settings.desktop_image-vp %}
            {{ block.settings.desktop_image-vp | image_url: width: 50, height: 50 | image_tag: class: 'block-img-desktop' }}
            {% endif %}
          <!-- {% else %} -->
            <!-- {% if block.settings.mobile_image-vp %}
              {{ block.settings.mobile_image-vp | image_url: width: 50, height: 50 | image_tag: class: 'block-img-mobile' }}
            {% endif %} -->
          <!-- {% endif %} --> 
          {% if block.settings.title-vp %}
            <h3>{{ block.settings.title-vp }}</h3>
          {% endif %}
          {% if block.settings.details-vp %}
            <p class="details-list">{{ block.settings.details-vp }}</p>
          {% endif %}        
        </li>

      </ul>
    {% endfor %}
  </div>
  
</section>


{% schema %}
{
  "name": "Value Prop",
  "class": "value-prop",
  "settings": [
    {
      "type": "richtext",
      "label": "Heading",
      "id": "heading-vp",
      "default": "<p>The Inhaven Difference</p>"
    },
    {
      "type": "color",
      "label": "Desktop Background Color",
      "id": "desktop-background_color-vp",
      "default": "#8dc6be"
    },
    {
      "type": "color",
      "label": "Mobile Background Color",
      "id": "mobile-background_color-vp"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "blocks": [
    {
      "type": "block-vp",
      "name": "Block",
      "settings": [
        {
          "type": "image_picker",
          "label": "Desktop Image",
          "id": "desktop_image-vp"
        },
        {
          "type": "image_picker",
          "label": "Mobile Image",
          "id": "mobile_image-vp"
        },
        {
          "type": "text",
          "label": "Title",
          "id": "title-vp"
        },
        {
          "type": "richtext",
          "label": "Details",
          "id": "details-vp"
        },
        {
          "type": "color",
          "label": "Mobile Block Color",
          "id": "mobile-block_color-vp",
        },
      ]
    }
  ],
  "presets": [
    {
      "name": "Value Prop"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}