{{ 'section-featured-brand.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<section class="section-{{ section.id }}-padding featured-brand-{{ section.id }} page-width">


</section>

{% schema %}
  {
    "name": "Featured Brands",
    "class": "featured-brands",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
       {
        "type": "header",
        "content": "Heading"
      },
      {
        "type": "inline_richtext",
        "id": "title-fb",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "text-fb",
        "label": "Link Text"
      },
      {
        "type": "url",
        "id": "text-url-fb",
        "label": "Link URL"
      },
      {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 40
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 52
      }
    ],
    "blocks": [
      {
        "type": "@app"
      },
       {
        "type": "info_block",
        "name": "Section Block",
        "settings": [
          {
            "type": "header",
            "content": "Headings"
          },
          {
            "type": "image_picker",
            "id": "image-fb",
            "label": "Image"
          },
          {
            "type": "inline_richtext",
            "id": "img-title-fb",
            "label": "Title",
          },
          {
            "type": "text",
            "id": "img-text-fb",
            "label": "Text",
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Featured Brands"
      }
    ]
  }
{% endschema %}