{{ 'section-image-with-text-cust.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<section class="section-{{ section.id }}-padding img-text-cust-{{ section.id }}">
  {% for block in section.blocks %}
    <div class="block-iwt-{{ block.id }}"> 
      <style>
        .block-iwt-{{ block.id }} {
          background-color: {{ block.settings.mobile-background_color-iwt }};
        }
        .block-iwt-{{ block.id }}, .block-iwt-{{ block.id }} h2.heading-iwt {
          color: {{ block.settings.text_color-iwt }};
        }
        .block-iwt-{{ block.id }} span.caption-iwt {
          background-color: {{ block.settings.caption_color-iwt }};
        }
        @media screen and (min-width: 750px) {
        .block-iwt-{{ block.id }} {
          background-color: {{ block.settings.background_color-iwt }};
        }          
        }
        
      </style>
      <div class="page-width content-iwt ">        
        <div class="text-content-iwt">
          {% if block.settings.caption-iwt %}
            <span class="caption-iwt">{{ block.settings.caption-iwt }}</span>
          {% endif %}
          {% if block.settings.heading-iwt %}
            <h2 class="heading-iwt">{{ block.settings.heading-iwt }}</h2>
          {% endif %}
          {% if block.settings.text-iwt %}
            <p class="text-iwt">{{ block.settings.text-iwt }}</p>
          {% endif %}
          <span id="button-mb-flex">
            {% if block.settings.first_button-iwt %}
              <a class="first-button-iwt" href="{{ block.settings.first_button_link-iwt }}">{{ block.settings.first_button-iwt }}</a>
            {% endif %}
            {% if block.settings.second_button-iwt != blank %}
              <a class="second-button-iwt" href="{{ block.settings.second_button_link-iwt }}">{{ block.settings.second_button-iwt }}</a>
            {% endif %}
          </span>

        </div>
      
        <div class="img-content-iwt">
          {% if block.settings.image-iwt %}
              {{ block.settings.image-iwt | image_url: width: 550, height: 360 | image_tag: class: 'image-iwt'}}
          {% else %}
            {% if block.settings.video-iwt %}
              {{ block.settings.video-iwt | video_tag: autoplay: false, loop: true, muted: true, controls: true }}
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
</section>


{% schema %}
{
  "name": "Image With Text Custom",
  "tag": "section",
  "class": "image-with-test-custom",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "blocks": [
    {
      "type": "Text",
      "name": "Block",
      "settings": [
        {
          "type": "image_picker",
          "label": "Image",
          "id": "image-iwt"
        },
        {
          "type": "video",
          "label": "Video",
          "id": "video-iwt"
        },
        {
          "type": "color",
          "id": "text_color-iwt",
          "label": "Text Color",
          "default": "#000"
        },
        {
          "type": "color",
          "id": "background_color-iwt",
          "label": "Desktop Background Color",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "mobile-background_color-iwt",
          "label": "Mobile Background Color",
          "default": "#F9F8F5"
        },
        {
          "type": "text",
          "label": "Caption",
          "id": "caption-iwt"
        },
        {
          "type": "color",
          "id": "caption_color-iwt",
          "label": "Caption Bg Color",
          "default": "#000"
        },
        {
          "type": "inline_richtext",
          "label": "Heading",
          "id": "heading-iwt"
        },
        {
          "type": "richtext",
          "label": "Text",
          "id": "text-iwt"
        },
        {
          "type": "text",
          "label": "First Button",
          "id": "first_button-iwt"
        },
        {
          "type": "url",
          "label": "First Button Link",
          "id": "first_button_link-iwt"
        },
        {
          "type": "text",
          "label": "Second Button",
          "id": "second_button-iwt"
        },
        {
          "type": "url",
          "label": "Second Button Link",
          "id": "second_button_link-iwt"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image With Text Custom"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}