{{ 'section-featured-brand.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<section class="section-{{ section.id }}-padding featured-brand-{{ section.id }} page-width">

<ul>
  {%- for collection in collections -%}
    <li>
      <a href="{{ collection.url }}">
        {{ collection.image| img_url: '250x' }}
        {{ collection.title }}
        {{ collection.description }}
      </a>
    </li>
  {%- endfor -%}
</ul>

  <div class="featured-content">
    <div id="heading">
      {% if section.settings.title-fb %}
        <h2 class="heading-title">{{ section.settings.title-fb }}</h2>
      {% endif %}
      {% if section.settings.text-fb %}
        <a id="link-all" href="{{ section.settings.text-url-fb }}">{{ section.settings.text-fb }}</a>
      {% endif %}
    </div>

    <ul class="features-list">
      {% for block in section.blocks %}
        <a href="{{ block.settings.img-url }}">
          <li class="features-list-items">
            {% if block.settings.image-fb %}
              {{ block.settings.image-fb | image_url: width: 400, height: 400 | image_tag: class: 'block-img-fb' }}
            {% endif %}
            {% if block.settings.img-title-fb %}
              <h4 class="title-fb">{{ block.settings.img-title-fb }}</h4>
            {% endif %}
            {% if block.settings.img-text-fb %}
              <p class="text-fb"><style>
                .featured-brand-{{ section.id }} .text-fb{
                  color: {{ block.settings.img-text-color-fb }}
                }
              </style>{{ block.settings.img-text-fb }}</p>
            {% endif %}
          </li>
        </a>
      {% endfor %}
    </ul>
  </div>

</section>

{% schema %}
  {
    "name": "Featured Brands",
    "class": "featured-brands",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
       {
        "type": "header",
        "content": "Heading"
      },
      {
        "type": "inline_richtext",
        "id": "title-fb",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "text-fb",
        "label": "Link Text"
      },
      {
        "type": "url",
        "id": "text-url-fb",
        "label": "Link URL"
      },
      {
        "type": "collection_list",
        "id": "collection_list",
        "label": "Collections",
        "limit": 4
      },

      {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 40
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 52
      }
    ],
    "blocks": [
      {
        "type": "@app"
      },
       {
        "type": "info_block",
        "name": "Section Block",
        "settings": [
          {
            "type": "header",
            "content": "Headings"
          },
          {
            "type": "image_picker",
            "id": "image-fb",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "image-url",
            "label": "URL"
          },
          {
            "type": "inline_richtext",
            "id": "img-title-fb",
            "label": "Title",
          },
          {
            "type": "text",
            "id": "img-text-fb",
            "label": "Text",
          },
          {
            "type": "color",
            "id": "img-text-color-fb",
            "label": "Text Color",
            "default": "#10A894"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Featured Brands"
      }
    ]
  }
{% endschema %}