{{ 'section-category.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  .category-{{ section.id }} {
    background-color: {{ section.settings.bg-color-cat }};
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
    
    .category-{{ section.id }} {
      background-color: #fff;
    }
  }
{%- endstyle -%}

<section class="section-{{ section.id }}-padding category-{{ section.id }} page-width">

  <div class="category-content">
    {% if section.settings.title-cat %}
      <h1 class="title-cat">{{ section.settings.title-cat }}</h1>
    {% endif %}
    
    <ul class="icon-list">
      {% for block in section.blocks %}
        <li class="icon-item-cat block-cat-{{ block.id }}">
          {% if block.settings.image-cat %}
            {{ block.settings.image-cat | image_url: width: 50, height: 50 | image_tag: class: 'icon-img-cat'}}
            <style>
              @media screen and (min-width: 750px) {
                .category-{{ section.id }} .block-cat-{{ block.id }} img.icon-img-cat {
                   background-color: {{ block.settings.img-bg-color-cat }};
                }
              }
            </style>
          {% endif %}
          {% if block.settings.img-text-cat %}
            <a href="{{ block.settings.img-text-cat-url }}" class="text-cat">{{ block.settings.img-text-cat }}</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>

</section>
  
{% schema %}
  {
    "name": "Category",
    "tag": "section",
    "class": "category",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
       {
        "type": "header",
        "content": "Heading"
      },
      {
        "type": "inline_richtext",
        "id": "title-cat",
        "label": "Title"
      },
      {
        "type": "color",
        "id": "bg-color-cat",
        "label": "Background Color",
        "default": "#f3f3f3"
      },
      {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 40
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 52
      }
    ],
    "blocks": [
      {
        "type": "@app"
      },
       {
        "type": "info_block",
        "name": "Section Block",
        "settings": [
          {
            "type": "header",
            "content": "Headings"
          },
          {
            "type": "image_picker",
            "id": "image-cat",
            "label": "Image"
          },
          {
            "type": "color",
            "id": "img-bg-color-cat",
            "label": "Background Color",
            "default": "#f3f3f3"
          },
          {
            "type": "text",
            "id": "img-text-cat",
            "label": "Text",
          },
          {
            "type": "url",
            "id": "img-text-cat-url",
            "label": "Link",
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Category"
      }
    ]
  }
{% endschema %}